@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Movie Rental Application</h2>
    <p class="lead">This Movie Rental Application is an amazing platform for you to buy or rent your weekend movies online. And the best part of all they are totally free.</p>
    <p><a href="http://localhost:65467/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<hr/>

<div class="row">
    <div class="jumbotron col-md-4">
            <h2>Introduction</h2>
            <p>
                The best Movie Rental Application on the internet today. Register yourself as a customer with us and get along with your weekend cravings with your loved ones.
            </p>
            <p><a class="btn btn-default" href="http://localhost:65467/">Learn more &raquo;</a></p>
    </div>
    <div class="jumbotron col-md-3" style="margin: 3px">
        <h2>Our Customers</h2>
        <p>Get the list of our most loyal customers, and they won't be able to stop bragging about us. Register yourself as soon as possible to get your name up there.</p>
        <p><a class="btn btn-default" href="http://localhost:65467/Home/Customers">Learn more &raquo;</a></p>
    </div>
    <div class="jumbotron col-md-4">
        <h2>Most Popular Movies</h2>
        <p>Get the list of our Top Movies to get started with. </p>
        <p><a class="btn btn-default" href="http://localhost:65467/Home/Movies">Learn more &raquo;</a></p>
    </div>
</div>